body{
	background-color: #EDF4ED;
}
.header{
	margin-bottom:1rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #301014;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
}
.cabecalho{
	display: flex;
	margin-top: 1rem; 
}

.containeraluno{
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 90%;
	margin: 1rem;
	font-family: 'EB Garamond', serif;
	font-size: 1.2rem;
}
.containeraluno-img{
	margin: 1rem;
	max-height: 20rem;
	max-height: 20rem;
}
.projeto{
	display: flex;
	flex-direction: column;
	max-width: 90%;
	margin: 1rem;
	align-items: center;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.pic{
	height: 20%;
	width: 90%;
	margin-top: 1rem;
}
.titulo{
	width: 100%;
	height: 1rem;
	margin-top: 1rem;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: space-between;

}
.titulo_item{
	margin-left: 50%;
	margin-right: 50%;
	font-size: 2rem;
}
.projeto-centrado-items{
	margin-top: 1rem;
}

@media(max-width: 360px){
	.header{
		font-size: 0rem;
	}
}

@media(min-width: 361px){
	.containeraluno{
		margin-top: 5rem;  
		width: 50%;
		margin-left: 25%;
		max-width: 50%;
		display: flex;
		align-items: stretch;
		flex-direction: row;
	}
	.containeraluno-img{
		width: 20rem;
		height: 15rem;
	}
	.containeraluno-text{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.container-aluno-text-name{
		position: relative;
		margin-top: 2rem;
	}
	.titulo{
		flex-direction: column;
	}
	.fonte_cabecalho{
		display: inline;
		align-items: center;
		margin-right: 2rem;
		margin-left: 2rem;
		margin-top: 0.3rem;
	}
}
