body{
   min-width:70rem;        /* Suppose you want minimum width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:70rem; /* As IE6 ignores !important it will set width as 1000px; E6EFE9*/
   background-color: #EDF4ED;    
}
.projeto-centrado{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5rem;
}
.projeto-centrado-items{
	margin-top: 2rem;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.header {
	max-width: 100%;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif; 
	padding: 0.5rem;
	border-style:none;
	border-width: 0.01rem;
	display: flex;
	justify-content: space-between;
	background-color: #301014;
}

.logo{
	width: 4rem;
	height: 4rem;
	margin:0.5rem;
}

.cabecalho{
	display: flex;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.perfil{
	width: 4rem;
	height: 4rem;
	margin: 0.5rem;
}

.fonte_cabecalho{
	display: inline;
	align-items: center;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.containeraluno{
  margin-top: 5rem;
  width: 50%;
  margin-left: 25%;
  max-width: 50%;
  display: flex;
}
.containeraluno-img{
	width: 70rem;
	height: 15rem;
}
.containeraluno-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 2rem;
}
.container-aluno-text-name{
	position: relative;
	margin-top: 2rem;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.containeraluno-text-description{
	margin-right: 1rem;
	margin-top: 0.5rem;
	font-family: 'EB Garamond', serif;
	font-size: 1.2rem;
}

.titulo{
	font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
	margin-top: 10%;
  	text-align: center;
}

.projeto{
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40rem;
  width: 80%;
  height: 50%;
  margin: 5rem 10%;
  justify-content: flex-start;
  background-color: #EDF4ED;
}

.pic{
	width: 25rem;
	height: 25rem;
}

.items{
  justify-self: center;
  align-self: stretch;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.geral{
	min-width: 100rem;
}

.img-categoria{
	width: 28rem;
	height: 25rem;
}

@media (max-width: 360px){
	.containeraluno{
	}
	.containeraluno-text{
		flex-direction: column;
	}
	.container-aluno-text-name{
		font-size:1.5rem;
	}
	.containeraluno-text-description{
		font-size: 1.2rem;
	}
	.containeraluno-img{
		width: 10rem;
		height: 10rem;
		justify-content: center;
	}
	.projeto{
		grid-template-columns: 100%;
  		grid-template-rows: 40rem;
  		width: 80%;
  		height: 50%;
  		margin: 2rem;
  		font-size: 1.5rem;

	}
	.items{
		font-size: 1.5rem;
	}
	.titulo{
		font-size: 2rem;

	}
}
